<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Settings>
  <VisualSettings>
    <UseFullDeferredShading>True</UseFullDeferredShading>
    <IsHiDef>True</IsHiDef>
    <fullScreen>False</fullScreen>
    <width>802</width>
    <height>602</height>
  </VisualSettings>
  <AudioSettings>
    <MusicVolume>8</MusicVolume>
    <EffectsVolume>8</EffectsVolume>
    <UIVolume>8</UIVolume>
  </AudioSettings>
  <ConnectionSettings>
    <Username>fdgd</Username>
    <Password>?</Password>
    <Server>http://www.nekisajt.com</Server>
  </ConnectionSettings>
</Settings>